

BODY {
background-color: #FF9570;
margin-top: 30px;
margin-left: 30px;
font-family: Verdana, Arial, sans-serif;
font-size: 1.45em;
color: #ffffff;

}

P {


line-height: 40px;

}

H1 {
background-image: url("pics/download-1.jpg");
padding: 10px;
margin-bottom: 1px;
color: #ffffff;
border: 20px dotted pink;
}

.left {

float: left;
margin-right: 10px;
}

.right {

float: left;
margin-right: 10px;
}

.nav{

background-color: #01087C;
padding: 15px;
width: 20%;
font-size: 1.65em;
text-align: center;
border-radius: 10px;
letter-spacing: 3px;
color: #ffffff;
/*text-shadow: 2px 2px red;*/
}

a:link {color: #ffffff;}
a:visited {color: #ffff33;}
a:hover{color: green;}
a:active {color: pink;}
xz 3


TABLE {

width: 580px;
background-color: #87A4FF;
display: block;
margin-left: auto;
margin-right: auto;
border-spacing: 10px;

}
